.video-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .bg-video {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100vw;
    min-height: 100vh;
    object-fit: cover;
    z-index: -1;
  }
  
  .overlay {
    position: relative;
    z-index: 2;
  }
  
  .upload-scroll-wrapper {
    max-height: 90vh;
    overflow-y: auto;
    padding-bottom: 100px;
  }
  